$color:#00803D;
$colorsub:#eebc3d;
$colorgrey:#404040;
html,
body {
  padding: .0rem;
  margin: .0rem;
  color: $colorgrey;
  font-family: 'Exo 2', sans-serif;
  font-size: 62.5%;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}
h1{
  font-size: 4.5rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.8rem;
}
h5, a, p, content, strong, b, i, li{
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
}

b,
strong {
  font-family: 'Exo 2', sans-serif;
  // font-weight: normal;

}

img {
  border: none;
  max-width: 100%;
}

a img {
  display: block;
}

#page {
  background: #fff;
  max-width: 192.0rem;
  margin: 0 auto;
  /* overflow: hidden; */
}
p
{
  font-size: 1.6rem;
}
.desc{
  font-size: 1.6rem;
}

.c,
.c5,
.c10,
.c15,
.c20,
.c30,
.c3,
.c2,
.c80 {
  clear: both;
}

.c {
  height: .0rem;
}

.c3 {
  height: .3rem;
}

.c4 {
  height: .4rem;
}

.c5 {
  height: .5rem;
}

.c10 {
  height: 1.0rem;
}

.c15 {
  height: 1.5rem;
}

.c20 {
  height: 2.0rem;
}

.c30 {
  height: 3.0rem;
}

.c50 {
  height: 5.0rem;
}
.text-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.text-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text-line-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.text-line-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.text-line-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.text-line-12 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}

.more-text {
  float: right;
  cursor: pointer;
}
.line {
  width: 6.0rem;
  height: .2rem;
  background: $color;
  z-index: 1111;
  margin-top: 1.5rem;
}
.grey{
  color: #333!important;
}
.colormain
{
  color: #00803D
}
.colorsub
{
  color: #eebc3d;
}
.text-center
{
  text-align: center;

}
.d-flex
{
    display: flex;
}
#search-pc
{
    line-height: 1;
    width: 4.0rem;
    height: 4.0rem;
    padding: 1.2rem;
    color: #393939;
    margin: .5rem;
    border-radius: 2.8rem;
    background-color: #ffffff;
}
// #search-pc i
// {
//   font-size: 1.8rem;
// }
// .search-pc {
//   display: none;
//   width: 24.0rem;
//   position: absolute;
//   bottom: -4.0rem;
//   right: .0rem;
//   z-index: 999;
//   border-radius: 1.0rem;
//   background: #17a98a;
//   padding: 1.0rem 1.5rem;
//   line-height: 1;
// }
// .search-pc input
// {
//     width: 100%;
//     height: 3.5rem;
//     background: rgba(255, 255, 255, 0.363);
//     border: .1rem solid #005585;
//     border-radius: .5rem;
    
// }
// .search-pc input:active
// {
//   border: .1rem solid #005585;
//   outline: none;
// }

// .submit-search-pc {
//   float: right;
//   color: #374458;
//   font-size: 1.4rem;
//   position: absolute;
//   top: 1.0rem;
//   right: .5rem;
// }

// .search-pc .kw {
//   width: 100%;
//   height: 3.5rem;
//   border: solid .1rem #CCC;
//   padding: .0rem 1.0rem;
//   outline: none;
//   float: left;
//   color: #333;
//   border-radius: 2.5rem;
//   background: #FFF;
// }

// .search-pc .fa {
//   color: #374458;
// }

// .search-icon {
//   padding: .8rem 1.0rem 1.2rem;
//   border-radius: .4rem;
//   border: .2rem solid #3e89a2;
//   margin-left: 5.0rem;
// }

// .search-pc .closeX {
//   position: absolute;
//   color: #666;
//   width: 2.2rem;
//   height: 2.2rem;
//   text-align: center;
//   border: solid .1rem #ccc;
//   background: #fff;
//   border-radius: 1.0rem;
//   line-height: 2.0rem;
//   right: -1.5rem;
//   top: -.8rem;
// }
.search-pc {
  display: none;
  width: 24.0rem;
  position: absolute;
  bottom: -5.5rem;  
  right: .0rem;
  z-index: 999;
}



.submit-search-pc {
  float: right;
  color: #374458;
  font-size: 1.7rem;
  position: absolute;
  top: .6rem;
  right: 1.0rem;
}

.search-pc .kw {
  width: 100%;
  height: 3.5rem;
  border: solid .1rem #CCC;
  padding: .0rem 1.0rem;
  outline: none;
  float: left;
  color: #333;
  border-radius: 2.5rem;
  background: #FFF;
}

.search-pc .fa {
  color: #374458;
}

.search-icon {
  padding: 1.0rem .8rem .8rem;
  border-radius: .4rem;
  border: .0rem solid #00803d;
  /* margin-left: 5.0rem; */
  font-size: 1.8rem;
  background: #fff;
  border-radius: 50%;
  width: 4.0rem;
  height: 4.0rem;
}

.search-pc .closeX {
  position: absolute;
  color: #666;
  width: 2.2rem;
  padding: .0rem;
  height: 2.2rem;
  text-align: center;
  border: solid .1rem #ccc;
  background: #fff;
  border-radius: 2.2rem;
  /* line-height: 2.0rem; */
  right: -1.6rem;
  top: -.8rem;
  font-size: 1.3rem;
}
.crumb {
  padding: 1.0rem .0rem;
  font-size: 1.2re,;
  background-color: #dfdfdf;
  text-align: center;
  width: 100%;
  margin: auto;
 &.crumb-details
 {
   text-align: left;
 }
}

.crumb a {
  font-size: 1.8rem;
  color: #5a5a5a;
  font-weight: 400;
  padding: 1.0rem 1.5rem;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: .1rem;
    height: 1.5rem;
    left: .0rem;
    background-color: $colorgrey;
    top: 1.5rem;
  }

}

.crumb a:first-child {
  padding-left: 0;
  &::before{
    display: none;
  }
}

.crumb a:last-of-type {
  color: $color;
  padding-left: 1.0rem;
  // font-weight: 700;
}
.simplePagerContainer 
{
  .simplePagerNav:nth-child(1)
  {
    display: none;
  }
  .simplePagerNav
  {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    
    li{
      width: 4.0rem;
      height: 4.0rem;
      border-radius: .5rem;
      padding: .5rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin: 1.0rem;
      background: #f0f0f0;
      transition: all .5s ease-in;
      a{
        color: $color;
        
      }
      &:hover{
        box-shadow: .0rem .0rem .5rem $colorgrey;
      }
    }
    .currentPage 
    {
  
    background: $color  ;
    a{
      color: #FFF;
    }
    }
  }
}
// menu tab
.menutab {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  line-height: 1;

  .menutab-item {

    padding: .5rem 1.5rem .5rem 1.5rem;
    text-align: center;
    border-radius: .3rem;
    color: #3c3c3c;
    font-weight: 600;
    position: relative;
    font-size: 2rem;
    &::before{
      content: "";
    width: .2rem;
    height: 1.5rem;
    background-color: #404040;
    position: absolute;
    right: .0rem;
    top: 1.0rem;
    }
    a {
      color: $colorgrey;
    }
    &.tab-active 
    {
      a{
        color: $color;
      }
    }
    &:nth-last-child(1)
    {
      &::before{
        display: none;
      }
    }
  }

}
// end menu tab
// social
.social{
  display: flex;
  list-style-type: none;
  padding: 0;
  li{
    margin: .7rem;
    width: 4.5rem;
    height: 4.5rem;
     padding:1.0rem;
    text-align: center;
    border-radius: 50%;
    background-color: #c4c4c4;
    transition: all .5s ease-in-out;
    &:hover{
      background: $color;
    }
    &:nth-child(1)
    {
      margin-left: .0rem;
    }
  }
  a{
    color: #FFF;
  }
}
// end social
.top-header
{
    max-height: 11.5rem;
background-color: #FFF;
padding: .5rem .0rem;
}
.top-header h2{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  color: #FFF;

  
}
/* HEADER */
.header {
  background:$color;
  /* top: -10.0rem; */
//   position: absolute;
  top: 5.0rem;
  width: 100%;
  left: 0;
  z-index: 3;
  a{
      text-transform: uppercase;
  }
  li
  {
      &:nth-child(1) a
      {
          padding: .0rem 1.5rem .0rem .0rem;
      }
      ul{
          li{
              &:nth-child(1) a{
                  padding: .8rem 1.0rem;
              }
          }
      }
  }
}

.logo {
    margin-right: 5.0rem;
    max-height: 6.5rem;

}
.title-image
{
    max-width: 49.0rem;

}
.logo img,
.logo-mobile img {
  display: block;
}

.logo-mobile {
  float: left;
  margin-left: 1.0rem;
  margin-top: .5rem;
}

.menubar {
  text-align: center;
  margin: auto;
  width: 100%;
}

.menu-title {
  background: #29a7e1;
  color: #fff;
  padding: 1.2rem;
  border-radius: .5rem .5rem .0rem .0rem;
  cursor: pointer;
}
.nav-topheader
{
    padding: .0rem .0rem;
   .nav{
    display: flex;
    li 
    {
        
        a{
            color: #4a4a4a;
            position: relative;
            line-height: 1.6;
            &::before{
                content: "";
                width: .1rem;
                height: 1.0rem;
                position: absolute;
                left: .0rem;
                top: 1.0rem;
                background: #4a4a4a;
            }
           
        }
    }

    li{
        &:nth-child(1)
        {
            a{
                &::before{
                    display: none;
                }
            }
        }
    }
   }
}
.vi{
	background-image:url(../images/vi-flag.png);
	display: inline-block;
	width:3.3rem;
	height:3.3rem;
	background-position:center center;
	text-indent:-9999em;
    border-radius: 5.0rem;
    margin-right: .3rem;
}
.en{
	background-image:url(../images/en-flag.png);
	display:inline-block;
	width:3.3rem;
	height:3.3rem;
	background-position:center center;
	text-indent:-9999em;
    border-radius: 5.0rem;
}
.lang {
    padding: .0rem .0rem 1.0rem .0rem;
  margin-left: 2.0rem;
  display: flex;
  justify-content: flex-end;
}

.nav {
  padding: .0rem;
  margin: .0rem;
  font-weight: normal;
  max-width: 120.0rem;
}

.nav>li {
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  font-weight: normal;
  
  margin: .0rem .2rem;
}


.nav li:last-child {
  margin-right: 0;
}

.nav li:last-child a {
  padding-right: 0;
}

.nav>li>a {
  text-decoration: none;
  color: #fff;
  display: inherit;
  padding: .0rem;
  padding: 0 1.2rem;
  font-size: 1.5rem;
  line-height: 8.0rem;
  font-weight: bold;
  text-align: center;
}
.phone-header {
    width: 4.0rem;
    height: 4.0rem;
    padding: .6rem;
    line-height: 1.65;
    border-radius: 2.8rem;
    background-color: #e0c88a;
    a
    { color: #393939;}
}
.nav>li:hover>a {
  color: #00B053;
}

.nav>li.active>a {
  color: $colorsub;
}

.nav>li>a img {
  margin-right: .8rem;
}

.nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 25.0rem;
  text-align: left;
  display: none;
  padding: .0rem;
  opacity: 0.98;
  z-index: 999999;
  font-weight: normal;
  background: $color;
  text-transform: initial;
}
.nav li:hover ul{
  display: block;
}
.nav li ul>li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none !important;
  text-transform: initial;
  line-height: normal;
  position: relative;
}

.nav li ul>li a {
  padding: .0rem 1.0rem;
  display: block;
  color: #fff !important;
  line-height: 1.8rem;
  text-transform: initial;
  padding: .8rem 1.0rem;
  border-top: solid .1rem #ccc;
  font-size: 1.6rem;
}

.nav>li>ul>li>a:hover {
  color: #ffa200 !important;
}

.nav li ul ul {
  left: 100%;
  top: -.1rem;
}

.img-shine {
    position: relative;
    overflow: hidden;
    display: block;
  }
  
  
  .img-shine:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
  
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%);
  }
  
  /* Hover state - trigger effect */
  .img-shine:hover:after {
    opacity: 1;
    left: 130%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  
  /* Active state */
  .img-shine:active:after {
    opacity: 0;
  }
  
  
//   banner
.slider__controls {
    position: absolute;
    left: 50%;
    background: transparent;
    bottom: 5.0rem;
    width: 100%;
    z-index: 111;
    transform: translate(-50% , 1.0rem);

    & .slider__pagination {
        text-align: center;
        & .swiper-pagination-bullet {
        width: 1.3rem;
        height: 1.0rem;
        display: inline-block;
        background: #FFF;
        opacity: .8;
        margin: 0 .5rem;
        -webkit-border-radius: 2.0rem;
                border-radius: 2.0rem;
        -webkit-transition: opacity .5s, background-color .5s, width .5s;
        -o-transition: opacity .5s, background-color .5s, width .5s;
        transition: opacity .5s, background-color .5s, width .5s;
        -webkit-transition-delay: .5s, .5s, 0s;
             -o-transition-delay: .5s, .5s, 0s;
                transition-delay: .5s, .5s, 0s;
        }        
    }
        


    & .slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: $color;
        width: 5.0rem;
        -webkit-transition-delay: 0s;
             -o-transition-delay: 0s;
                transition-delay: 0s;
    }

    & .slider__button-next, .slider__button-prev {
        position: absolute;
        top: 50%;
        width: 2.7rem;
        height: 4.4rem;
        margin-top: -2.2rem;
        z-index: 10;
        cursor: pointer;
        -webkit-background-size: 2.7rem 4.4rem;
                background-size: 2.7rem 4.4rem;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.banner
{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  img{
    height: auto;
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}
.slidehome
{
  position: relative;
.desc
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: left;
  transform: translate(-50%, -50%);
  z-index: 5;

}
h2
{
    font-size: 4.5rem;
    color: #404040;
    font-weight: bold;
    letter-spacing: .2rem;
    padding: 0;
    margin: 0;
    line-height: 1;
}
}

.btn-dangky {
    padding: 1.0rem 2.0rem;
    border: solid .1rem #ccc;
    border-radius: .5rem;
    background-color: $color;
    font-size: 1.8rem;
    display: block;
    cursor: pointer;
    color: #fff;
    float: left;
    text-align: center;
    color: #FFF;
    transition: all .2s ease-in-out;
    &:hover{
      box-shadow: .0rem .0rem .5rem $colorgrey;

    }
  }
  .title-wrapper
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      h2{
        font-size: 3.5rem;
        color: #3c3c3c;
        font-weight: 700;
        padding-left: 1.5rem;
        position: relative;
        margin: 1.5rem .0rem;
        &::before{
            content: "";
            width: .3rem;
            height: 2.5rem;
            position: absolute;
            left: 0;
            top: 1.2rem;
            background: $colorsub;
        }
       
      }
    
      .desc-title{
        width: 100%;
        font-size: 1.6rem;
      }
  }
  .more-wrapper
  {
      a{
          color: #00803d;
          font-weight: 600;
          transition: all .5s ease-in-out;
          &:hover{
              letter-spacing: .1rem;
          }
      }
  }
//   event
.homeevent-wrapper {
    padding: 5.0rem 0;
    .homecat-title--spc a{
      color: #005585;
    }
    .grid-container
  {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 20.0rem);
    grid-gap: 3.0rem;
  }
  .homeevent-item
  {
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(34, 34, 34, 0.219);
        z-index: 1;
        transition: all .5s ease-in-out;
    }
    .desc{
        display: none;
    }
    &:nth-child(1)
    {
      grid-column: 1/3;
      grid-row: 1/3;
      .homeevent-item__name{
          font-size: 2.6rem;
          padding: .0rem 3.0rem;
        .desc{
            display: block;
           font-size: 1.8rem;
           padding-top: 1.0rem;
        }
        i{
            color: $color;
        }
      }

    }
    &:hover{
      .homeevent-item__name
      {
        color: #FFF;
        bottom: 1.5rem;
      }
      &::before{
        background: rgba(34, 34, 34, 0.521);
      }
    }
   

  }
  .homeevent-item__name
  {
    position: absolute;
    bottom: .5rem;
    z-index: 2;
    left: 0;
    padding: 1.0rem;
    font-size: 1.8rem;
    color: #FFF;
    font-weight: 600;
    z-index: 3;
    width: 100%;
    transition: all .3s ease-in;
    padding: .0rem 1.5rem;
  }
  .img-shine,  img{
      height: 100%;
  }
  }
//   học bổng
.homescholarship-wrapper
{
  background-color: #F0F0F0;
  padding: 5.0rem .0rem;
  h2{
    margin: .0rem .0rem 3.0rem;
  }
    .item{
        position: relative;
       margin-bottom: 2.5rem;
       height: 100%;
       max-height: 30.0rem;
       overflow: hidden;
       &:hover h3{
         letter-spacing: .1rem;
         color: $colorsub;
       }
    }
    img{
        height: 100%;
    }
    .desc{
        position: absolute;
        top: 3.0rem;
        left: 0;
        width: 100%;
        max-width: 40.0rem;
        z-index: 11;
        color: #FFF;
        padding: .0rem 3.0rem;
        h3{
            text-transform: uppercase;
            color: #FFF;
            font-size: 3rem;
            font-weight: 600;
            margin: .0rem;
            transition: all .5s ease-in;
        }
        p{
            // line-height: 1.5;
            font-size: 1.8rem;
            margin: 1.0rem .0rem;
        }
    }
    .cell-1-2{
        &:nth-child(3), &:nth-child(4)
        {
            .desc
            {
                top:60%;
            }
        }
    }
}
.typical-face
{
  overflow-x: hidden;
  position: relative;
  .swiper-slide{
    text-align: center;
    img{
      width: 100%;
      height: 100%;
      width: 20.0rem;
     height: 20.0rem;
      border-radius: 50%;
      object-fit: cover;
    }
    h3{
      font-size: 2.0rem;
      font-weight:600;
      color: $color;
      text-transform: uppercase;
    }
    p{
      margin-top: 1.0rem;
      text-align: center;
    }
  }
}
// khóa đào tạo
.homeeducate-wrapper
{
  padding: 5.0rem .0rem;
  .item{
    margin-bottom: 3.0rem;
    position: relative;
    img{
      height: 100%;
      max-height: 52.0rem;
    }
    .desc
    {
      position: absolute;
      width: 100%;
      top: 60%;
      z-index: 11.0rem;
      padding: 3.0rem;
      color: #FFF;
      transition:  all .5s ease-in;
    }
    .title a{
      color: #FFF;
      font-size: 3rem;
      text-transform: uppercase;
      margin: .0rem;
      font-weight: 700;
      transition: all .5s ease-in-out;
    }
    p{
      margin-bottom: 1.5rem;
      transition: all .5s ease-in-out;
    }
    &:hover{
      // .desc{
      //   top:55%;
      // }
      .title a, p{
        color: $colorsub;
      }
    }
  }
  .cell-1-1 .item{
    margin-bottom: 0;
  }
}
.homebook-wrapper
{
  padding: 5.0rem .0rem;
  .title-wrapper h2{
    margin-top: .0rem;
  }
  .swiper-slide
  {
    padding: 1.0rem 3.0rem;
  }
  img {
    box-shadow: -2.0rem .1rem 2.0rem -.5rem #3333336e;
}

}
// kênh thu hút
.homeattract-wrapper
{
  padding: 5.0rem .0rem;
  background-color: #f0f0f0;
  .item{
    margin: 1.5rem .0rem 3.0rem .0rem ;
    background: transparent;
    .title a{
      color: $colorgrey;
      font-size: 2.6rem;
    }

    p{
      font-size: 1.8rem;
      line-height: 1.4;
    }
    img{
      border-radius: 1.0rem;
      height: 100%;
      max-height: 27.0rem;
    }
    &:hover {
    
      a
      {
        color: $color;
      }
    }
  }
 
}
.submit-wrapper
{
  padding: 5.0rem .0rem;
  background-color: #FFF;
}
.cell-1-1
 {
   img{
     border-radius: .0rem;
   }
   .item{
     position: relative;
     .desc{
       position: absolute;
       top: 3.0rem;
       width: 50%;
       padding: .0rem 3.0rem;
       color: #FFF;
      h2{
        margin: 0;
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      a{
        font-size: 2rem;
        color: #ffffff;
        font-weight: 600;
        
      }
      }
   }
 }
.footer
{
  padding: 3.0rem .0rem .0rem;
  .footer-left
  {
    background-color: #f0f0f0;
    width: 30%;
    padding: 5.0rem 3.0rem 3.0rem;
    text-align: right;
    .footer-title 
    {
      color: $colorgrey;
      margin: 1.5rem .0rem .0rem .0rem ;
    }

  }
  .footer-social
  {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    li {
      width: 4.0rem;
      height: 4.0rem;
      border-radius: 50%;
      margin: .3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: #FFF;
        margin: 0;
      }
      &.facebook{
        background-color: #4B76BD;
      }
      &.youtube
      {
        background-color: #FC3831;
      }
      &.linkedin
      {
        background-color: #0A85C9;
      }
      &.instagram
      {
        background-color: #6D6D6D;
      }
    }
   
  }
  .footer-right
  {
    background-color: $color;
    width: 70%;
    padding: 5.0rem 5.0rem 3.0rem 5.0rem;
    text-align: left;
  
  }
  .footer-copyright
  {
    font-size: 1.6rem;
    margin-top: 3.0rem;
    
  }
  .footer-title {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  p,a{
    font-size: 1.6rem;
    letter-spacing: .0rem;
    line-height: 2.6rem;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
 
}
.sendmail__frm
{
  input{
  
background-color: #ffffff;
text-align: center;
width: 100%;
margin-bottom: 1.5rem;
  }
  button{
    font-size: 1.8rem;
line-height: 2.8rem;
color: #ffffff;
font-weight: 700;
background: #00B053;
width: 100%;
text-transform: uppercase;
transition: all .5s ease-in-out;
&:hover{
  box-shadow: .0rem .0rem .5rem #333;
 
}
  }
  input, button
  {
    height: 4.0rem;
    border:none;
    outline: none;
    border-radius: .4rem;
  }
}
.social-fixed
{
  position: fixed;
  top: 50vh;
  right: 5%;
  z-index: 11;
div{
  width: 4.0rem;
  height: 4.0rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &.right-hotline
  {
    background-color: #FFC000;
  }
  &.right-messenger
  {
    background-color: #0053D4;
  }
  &.right-zalo
  {
    background-color: #00BCDF;
  }
  a{
    color: #333;
  }
  img{
    width: 2.5rem;
  }
}
}
.title-wrapper_page
{
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  max-width: 60.0rem;
  margin: auto;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: #5a5a5a;
  font-weight: 700;
  padding: 5.0rem .0rem 3.0rem;
  .line{
   margin: auto;
  }
  
}
.content-wrapper
{
  
  .title{
    font-size: 2.5rem;
    font-weight: bold;
    color: $color;
  }
}
.about-wrapper
{
  .content-wrapper{
    background: #F6F6F6;
    padding: 1.5rem .0rem;
    img{
    max-height: 65.0rem;
      margin-right: .0rem;
    }
  }
  
  .desc{
    margin-bottom: 3.0rem;
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: #242424;
    font-weight: 400
  }
  .sign{
    p{
      text-transform: uppercase;
      color: $color;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 3.0rem;
    }
  }
}
.aboutmember-wrapper{
  img{
    max-width: 30.0rem;
    max-height: 30.0rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
  }
  .title{
    text-align: center;
    font-size: 2rem;
    color: $color;
    text-transform: uppercase;
    margin: 1.5rem .0rem;
  }
  .desc{
    font-size: 1.8;
    color: $colorgrey;
    margin-bottom: 3.0rem;
  }
}
.hidden
{
  display: none;
}
.aboutmember_detail
{
  display: flex;
  border-radius: 1.5rem;
  padding: .0rem .0rem;
  .name{
    font-size: 4rem;
    font-weight: 600;
    color: $color;
    text-transform: uppercase;
  
  }
  .aboutmember-detail_content{
    padding: 3.0rem 3.0rem .0rem 3.0rem;
   
  }
  .img-member{
    padding: 3.0rem .0rem 3.0rem 3.0rem;
    height: 100%;
    img{
      height: 100%;
      min-height: 48.0rem;
      object-fit: cover;
    }
  }
  .position{
    font-weight: 700;
    padding: .0rem .0rem 1.0rem;
    font-size: 2rem;
    color: #4c4c4c;
  }
.desc
{
  margin-top: 3.0rem;
  text-align: justify;
  font-size: 2rem;
}
}
.open {
  max-width: 120.0rem!important;
  border-radius: 1.5rem;
  overflow: unset!important;
  padding: 0!important;
}
.fancybox-button.fancybox-close-small {
  top: -4.5rem!important;
  right: -2.5rem!important;
  border: .2rem solid #FFF;
  color: #FFFF!important;
  border-radius: 50%;
  /* width: 3.0rem; */
  /* height: 3.0rem; */
}
.share-social
{
  margin-top: 3.0rem;
 
  ul{
    list-style: none;
    display: flex;
   margin: 0%;
   background: $color;
   width: 110%;
   margin-left: -10%;
   padding-left: 10%;
  }
  li 
  {
    transition: all .5s ease-in-out;
    padding: 1.0rem;
    &:nth-child(1)
    {
      padding-left: 5.0rem;
      
    }
    a{
     padding: .0rem;
      color: #FFF;
    }
    &:hover{
      margin-top: -.5rem;
    }
  }
}

.scholarship-wrapper{
  h2{
    margin-bottom: 3.0rem;
  }

  .item{
    margin-top: 5.0rem;
    list-style: none;
    img{
      height: 100%;
      max-height: 30.0rem;
    }
    .title{
      font-size: 2.6rem;
      color: $colorgrey;
      font-weight: 700;
      margin: 1.5rem .0rem;
      a{
        color: $colorgrey;
      }
    }
    .desc{
      text-align: justify;
    }

  }
}
// chi tiết học bổng
.scholarship_details-wrapper
{
  .title{
    font-size: 3.5rem;
    color: #3c3c3c;
    font-weight: 700;
    margin-bottom: .0rem;
  }
  .content{
    strong
    {
      font-weight: 600;
      color: #3c3c3c;
    }
    p
    {
      line-height: 1.5;
    }
  }
}
.other-scholarship
{
  h3{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 2.0rem .0rem ;
    background: $colorgrey;
    margin: .0rem;
  }
  .item{
    display: flex;
    margin-top: 2.0rem;
    width: 100%;
    height: 100%;
    .img-shine{
      width: 45%;
      margin-right: 1.0rem;
    }
    img{
     height: 100%;
     max-height: 20.0rem;
     object-fit: cover;
     max-width: 15.0rem;
    }
    a{
      color: $colorgrey;
    }
    .title{
      width: 50%;
      font-size: 1.8rem;
      color: $colorgrey;
      margin: 0;
      padding: 0;
      
    }
  }
}
.educate-wrapper
{
  .item{
    margin-top: 5.0rem;
    a{
      color: $colorgrey;
      
    }
  }
  h3{
    font-size: 1.8rem;
letter-spacing: .1rem;
font-weight: 600;
text-align: left;
text-transform: uppercase;
margin-bottom: 1.0rem;
  }
 
  .times{
    font-size: 1.6rem;
    i, span{
      color: $color;
      margin-right: .5rem;
    }
  }
}

.pagination {
  margin-bottom: 5.0rem;
  display: flex;
  margin-top:5.0rem;
  justify-content: center;	

}

.pagination-item {
  text-decoration: none;
  color: $color;
  font-size: 1.8rem;
  font-weight: 500;
  width: 4.2rem;
  height: 4.2rem;
  text-align: center;
  line-height: 4.2rem;
  border-radius: .5rem;
  background-color: #f0f0f0;
  margin: 0 .5rem;
  
  transition: all .5s ease-in-out;
display:block;
&:hover{
  background-color: $color;
  color: #FFF;

}
}

.pagination-item__clicked {
     text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
  min-width: 4.2rem;
  height: 4.2rem;
  text-align: center;
  line-height: 4.2rem;
  border-radius: .5rem;
  background-color: $color;
  margin: 0 .5rem;
a{
  color: #FFF!important;
}
}
.pagination .page i
{
  display:none
}
// chi tiết khóa học
.educatedetail-wrapper{
  .title-wrapper h2{
    padding-left: 0;
    &::before{
      display: none;
    }
  }
  .infor{
    background-color: #00803D;
    color: #FFF;
    padding-bottom: 2.0rem;
    border-radius: .5rem;
    .title{
      padding: 2.0rem 2.0rem;
      text-align: center;
      font-size: 2rem;
      font-weight:600;
      text-transform: uppercase;
      border-bottom: .1rem solid #FFF;
    
      margin: 0;
      
    }
    .desc{
      padding: .0rem 2.0rem
    }
   .line{
      border-top: .1rem solid #FFF;
      width: 100%;
    
   }
   i{
     padding-top: 1.0rem;
     font-size: 1.6rem;
   }
   p{
     width: 100%;
     font-size: 1.6rem;
     padding: 2.5rem .0rem;
     margin: .0rem;
     
     span{
       width: 50%; 
       float: left;
     
     }
   }
  }
  p{
    padding: 1.0rem .0rem;
  }
  .promotion{
    padding-bottom: 2.0rem;
   img{
     margin: 1.5rem .0rem;
   } 
   .btn-dangky{
     width: 100%;
     font-size: 2.0rem;
     text-transform: uppercase;
     font-weight: 600;
     padding: 2.0rem .0rem;
   }
  }
  .share-social ul{
    background: transparent;
    border-bottom: .1rem solid #cecece;
    border-top: .1rem solid #cecece;
    width: 100%;
    margin: 1.5rem .0rem;
    font-size: 2.0rem;
    padding: 1.0rem .0rem;
    a{
      color: $colorgrey;
    }
  }
}
.title-detail{
  padding-left: 1.5rem;
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: $colorgrey;
  &::before{
    content: "";
    width: .3rem;
    height: 2.0rem;
    position: absolute;
    left: 0;
    top:.5rem;
    background: $color;
   
  }
}
.details
{
  line-height: 1.4;
  b{
    font-weight: 600;
  }
}
.image-play{
  position: relative;
  width: 100%;
  height: 100%;
  .icon_play{
    position: absolute;
    width: 8.0rem;
    height: 8.0rem;
    background-color: #FFF;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -1.0rem);
    i{
      color: $colorgrey;
    }
  }
}
.details-item
{
  background-color: #f0f0f0;
  padding: 3.0rem;
  transition: all .5s ease-in-out;
  border-radius: .5rem;
  margin-bottom: 3.0rem;
  h5{
    font-size: 1.8rem;
    color: $color;
    margin: 0;
    padding-bottom: 1.0rem;
    transition: all .5s ease-in-out;
  }
  p{
    margin: 0;
    transition: all .5s ease-in-out;
    
  }
  &:hover{
    background-color: $color;
    h5{
      color: #FFF;
    }
    p{
      color: #FFF;
    }
  }
}
.list-details
{
float: left;
  padding: .0rem;
  width: 50%;
  li{
 
    float: left;
    list-style: none;
    margin-top: 3.0rem;
    font-weight: bold;
    color: #646464;
    padding-right: 1.0rem;
    .number{
      width: 4.0rem;
      padding: 1.0rem;
      font-size: 1.8rem;
      height: 4.0rem;
      border-radius: 50%;
      border: .2rem solid $colorgrey;
      float: left;
      margin-right: 1.5rem;
      text-align: center;
      line-height: 1;
 
    }
    &:hover{
      font-weight: 600;
      color: #333;
      .number{
        border: .2rem solid #00803D;
      }
    }
  }
}
.lecturers
{
  text-align: center;
  margin-top: 3.0rem;
  p{
    padding: .5rem .0rem;
    margin: 0;
    font-size: 1.6rem;
  }
  img{
    height: 100%;
    max-height: 28.0rem;
    width: 100%;
    object-fit: cover;
  }
  &:hover{
    b{
      color: $color;
    }
  }
}
.text-uppercase{
  text-transform: uppercase;
}
.educate-content{
 

  .item{
    position: relative;
    margin-top: 5.0rem;
    margin-left: 2.0rem;
    padding: 3.0rem;
    background: #f0f0f0;
    border-radius: .5rem;
  }
  .number{
    position: absolute;
    top: -2.0rem;
    left: -2.0rem;
    background-color: $color;
    width: 5.0rem;
    height: 5.0rem;
    color: #FFF;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.8rem;
  }
  p{
    margin: 0;
  }
}
.formungtuyen{
  input{
    width: 100%;
    border: .1rem solid #989898;
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
  }
  // .btn-send-mail{
  //   background-color: $color;
  //   color: #FFF;
  //   text-transform: uppercase;
  // }
}
.details .share-social
{
  margin-top: 1.0rem;
  ul{
    border: none;
    justify-content: flex-start;
    margin: .0rem;
  
   li:nth-child(1) {
      padding-left: .0rem;
  }
} 
}
.attract-wrapper
{
  img{
    height: 30.0rem;
    object-fit: cover;
    width: 100%;
  }
  .item{
    background-color: #f0f0f0;
    margin-top: 3.0rem;
    border-radius: .5rem;
    padding: .0rem .0rem 3.0rem .0rem;
    h3{
      color: $color;
      a{
        color: $color;
      }
    }
    .desc{
      padding: .0rem 1.0rem;
    }
  }
}
// attractdetail
.banner-attract
{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 1;
  }
}
.attractdetail-wrapper
{
  position: relative;
  margin-top: -15.0rem;
  z-index: 2;
  .user{
    height: 45.0rem;
   
    img{
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  .title{
    font-size: 3.5rem;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    margin: 3.0rem .0rem 1.5rem .0rem;
  }
  .meta-title{
    color: #FFF;
    margin: .0rem;
  }
  .content{
    margin: 5.0rem .0rem;
    text-align: justify;
    b{
      font-weight: 600;
    }
  }
}
.attractinfo-wrapper
{
  .title{
    width: 100%;
    text-align: left;
    margin: 5.0rem .0rem 3.0rem .0rem;
  }
  .item{
    margin: 2.0rem 5.0rem .0rem;
    position: relative;
    .number{
      position: absolute;
      left: -5.5rem;
      top: .0rem;
      display: flex;
      width: 5.0rem;
      height: 5.0rem;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $color;
      color: #FFF;
      font-weight: bold;
      font-size: 1.6rem;
    }
    .quest{
      padding: 1.5rem;
      border-radius: .5rem;
      border: .2rem solid rgba(51, 51, 51, 0.712);
      margin-bottom: 1.5rem;
      position: relative;
      font-size: 1.6rem;
    
      &::before{
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-left: .2rem solid #00803D;
        border-bottom: .2rem solid #00803D;
        bottom: -.9rem;
        left: 1.5rem;
        transform: rotate(315deg);
        background: #FFF;
        opacity: 0;
      
      }
    }
    .answ{
      padding: 1.5rem;
      border-radius: .5rem;
      border: .2rem solid $color;
      margin-bottom: 3.0rem;
      background-color: $color;
      color: #FFF;
      line-height: 1.4;
      display: none;
      transition: all .5s ease-in-out;
      font-size: 1.6rem;
    }
    &.active{
      .quest{
       border: .2rem solid $color;
       &::before{
         opacity: 1;
       }
      }
      .answ
      {
        display: block;
      }
    
   }
  }
 .title{
   font-weight: 600;
   color: $color;
   font-size: 2.4rem;
 }
}
.attractregister-wrapper
{
  line-height: 1.4;
  padding: 5.0rem .0rem .0rem;
  .title-wrapper{
    font-size: 3.5rem;
   
  }
  .line{
    margin-top: 1.5rem;
  }
.register-ct{
  width: 61%;
  margin: auto;
  clear: both;
  b{
    font-weight: 600;
    font-size: 1.6rem;
  }
  .title-wrapper, h2
  {
    margin-bottom: 1.0rem;
  }
  &.register-form
  {
    border-top: .2rem solid $color;
    h2:before{
      background-color: $color;
    }
  }
}

}
// tin tức
//   event
.news-wrapper {
  padding: 5.0rem 0;
  .homecat-title--spc a{
    color: #005585;
  }
  .grid-container
{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 20.0rem);
}
.news-item
{
  position: relative;
  margin: 1.5rem;
  
  &::before{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(34, 34, 34, 0.219);
      z-index: 1;
      transition: all .5s ease-in-out;
  }
  .desc{
      display: none;
  }
  &:nth-child(1)
  {
    grid-column: 1/3;
    grid-row: 1/3;
    .news-item__name{
        font-size: 2.6rem;
        padding: .0rem 3.0rem;
       
      .desc{
          display: block;
         font-size: 1.8rem;
         padding-top: 1.0rem;
      }
      i{
          color: $color;
      }
    }
    img, .img-shine{
      max-height: 50.0rem;
    }

  }
  &:hover{
    .news-item__name
    {
      color: #FFF;
      bottom: 1.5rem;
    }
    &::before{
      background: rgba(34, 34, 34, 0.521);
    }
  }
 

}
.news-item__name
{
  position: absolute;
  bottom: .5rem;
  z-index: 2;
  left: 0;
  padding: 1.0rem;
  font-size: 1.8rem;
  color: #FFF;
  font-weight: 600;
  z-index: 3;
  width: 100%;
  transition: all .3s ease-in;
  padding: .0rem 1.5rem;
}
.img-shine,  img{
    height: 100%;
    max-height:20.0rem;
    width: 100%;
    object-fit: cover;
}
}
.news-wrapper 
{
  .item{
    a{
      color: $colorgrey;
      font-size: 2.0rem;
      font-weight: 600;
    }
    margin-top: 1.5rem;
    &:hover{
      .item__name{
        color: $color;
      }
    }
  }
  .item__name
  {
   padding-top: 1.0rem;
   transition: all .5s ease-in-out;
  }
  .menutab
  {
    justify-content: center;
    .tab-active{
      border-bottom:.2rem solid $color;
      border-radius: 0;
      margin: 0;
      text-align: center;
    }
  }
}
.list-news
{
  .item{
    display: flex;
    width: 100%;
    margin-bottom: 3.0rem;
    .img-shine{
      width: 30%;
      max-height: 18.0rem;
      img{
        object-fit: cover;
      }
    }
    .desc{
      width: 70%;
      margin-left: 3.0rem;
    }
    h3{
      margin-top: 0;
    }
    a{
      color: $colorgrey;
      transition: all .5s ease-in-out;
    }
    &:hover{
      a{
        color: $color;
      }
      
    }
  }
}
.news-wrapper .pagination
{
  justify-content: flex-start;
}

.featured-news 
{
  .title{
    background: $colorgrey;
    color: #FFF;
    padding: 1.5rem 3.0rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .item{
    clear: both;
    display: flex;
    margin-top: 1.5rem;
    .img-shine{
      width: 40%;
      max-width: 18.0rem;
      height: auto;
      max-height: 14.0rem;
    }
    a{
      color: $colorgrey;
    }
    h3{
      width: 70%;
      margin-left: 1.5rem;
      margin-top: 0;
      a{
        font-weight: 400;
        font-size: 1.7rem;
      }
    }
  }
}
.newsdetail-wrapper{
  line-height: 1.4;
  h2.title{
    font-size: 3.5rem;
    margin: 3.0rem .0rem 1.5rem .0rem;
  }
  .desc{
    i{
      color: $color;
    }
    font-weight: 600;
  }
  b{
    font-weight: bold;
  }
  hr{
    border-color: $color;
  }
  textarea{
    width: 100%;
    margin-left: 2.0rem;
    font-family: 'Exo 2', sans-serif;
    padding: 1.0rem 1.5rem;
    font-size: 1.6rem;
    height: 100%;
    max-height: 16.5rem;
  }
  input{
    font-family: 'Exo 2', sans-serif;
    padding: 1.0rem 1.5rem;
    font-size: 1.6rem;
    height: 4.5rem;
  }
}
.text-center{
  text-align: center;
}
.footer-mb{
  background-color: $color;
  padding: 15px;
}
.footer-logo-mb{
  padding: 3rem;
  text-align: center;
  background-color: #F0F0F0;
  width: 100%;
}
